{% extends "blog/base.html" %}
{% block content %}
	<article>
		<h1>About Page</h1>
		<p>Reading is an important part of daily life and reading some good stuff may lead to a better perspective, increased knowledge , positive change in habits, good thoughts and overall growth can be expected. Being it a hobby or necessity the stuff you have read is gone a help you some day in your life. Our blogs are solely intended to improve your life and provide positivity in your life.
		</p>
	</article>
{% endblock content %}

